.button {
	@include button();
	
	&.smaller {
	    font-size: 12px;
	    line-height: 1.25;
	    padding: 16px 19px;
	}
	
	&.secondary {
	    color: #4A4A4A;
	    background: transparent;
	    border: 3px solid $blue;
	    padding: 18px 41px;
	    
	    &:focus, &:active {
		color: $blue;
	    }
	    
	    &:hover {
		color: white;
		background-color: $blue;
		
		.white-text & {
		    background-color: white;
		    color: $blue;
		}
	    }
	    
	    &.smaller {
		    padding: 13px 16px;
	    }
	    
	    .white-text & {
		    color: white;
		    background-color: transparent;
		    border-color: white;
	    }
	}
	
	&:not(:last-child){
	    margin-right: 20px;
	}
	
	&:not(.smaller){
	    @media(max-width: $screen-xs-max){
		    width: 100%;
	    }
	}
}

.cta {
    font-size: 12px;
    line-height: 1.25;
    text-transform: uppercase;
    color: $blue;
    text-decoration: none;
    font-weight: bold;
    
    &:hover {
	color: $teal;
	text-decoration: underline;
	
	.white-text & {
	    color: $teal;
	}
    }
    
    &:visited, &:active, &:focus {
	color: $blue;
	
	.white-text & {
	    color: white;
	}
	
	&:hover {
	    color: $teal;
	    
	    .white-text & {
		color: $teal;
	    }
	}
    }
    
    i {
	top: -1px;
	position: relative;
    }
}