.gallery {
    margin: -15px;
        
    &-columns {
        &-2 .gallery-item { width: 50%; }
        &-3 .gallery-item { width: 33.3333%; }
        &-4 .gallery-item { width: 25%; }
        &-5 .gallery-item { width: 20%; }
        &-6 .gallery-item { width: 16.6667%; }
        &-7 .gallery-item { width: 14.2857%; }
        &-8 .gallery-item { width: 12.5%; }
        &-9 .gallery-item { width: 11.1111%; }
        
        &-2, &-3, &-4, &-5, &-6, &-7, &-8, &-9 {
            
            .gallery-item {
                float: left;
                margin: 0;
                padding: 15px;
            }
            
        }
        
    }
}