// ------------------------------ //
	//Color Libraries
// ------------------------------ //
$line: #C8C8C8;
$grey: #8B8B8B;
$copy-color: black;

$blue: #1661B9;
    $blue-hover: #459BFF;
$teal: #2AB3C5;
$orange: #F5A623;
    $orange-hover: #F5A623;

// ------------------------------ //
	//Fonts
// ------------------------------ //
$font-family: "Roboto", sans-serif; 
$base-font-size: 16px;
$base-line-height: 1.69;